PORT=5000
MONGO_URI=mongodb+srv://your_mongo_db_uri
NODE_ENV=development
CLIENT_URL=http://localhost:3000

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BREVO_API_KEY=your_brevo_api_key_here
EMAIL_FROM_NAME="WoodCraft ERP"
EMAIL_FROM_ADDRESS="example@domain.com"

SSLCOMMERZ_STORE_ID=your_store_id
SSLCOMMERZ_STORE_PASSWORD=your_store_password

BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000